nav {
    font-family: 'Rubik Regular', Courier, monospace;
    .nav-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 11px;
        .logo-stripes-container {
            width: 100%;
            display: grid;
            grid-template-columns: 9fr 1fr 175px 1fr 9fr;
            align-items: center;
            .stripe-container {
                hr {
                    border-top: 1px solid red;
                }
            }
            .logo-container {
                position: relative;
                h1 {
                    background-image: linear-gradient(45deg, wheat, crimson);
                    text-align: center;
                    background-clip: text;
                    -webkit-text-fill-color: transparent;
                    -moz-background-clip: text;
                    -moz-text-fill-color: transparent;
                }
                .logo-span {
                    font-family: 'Ephesis Regular', Courier, monospace;
                    position: absolute;
                    top: 83%;
                    left: 12%;
                    font-size: 21px;
                    font-weight: 600;
                    letter-spacing: 2px;
                    color: #454545;
                }
            }
        }
        ul {
            padding: 0;
            margin: 0;
            letter-spacing: -0.5px;
            // margin-bottom: 0 0 10px 0;
            li {
                display: inline-block;
                margin: 0 25px;
                a {
                    display: block;
                    font-size: 30px;
                    font-weight: 500;
                    // margin-inline-start: 25px;
                    padding: .75rem 0;
                    transition: .3s ease-in-out;
                }
            }
        }
        .menu-btn {
            display: none;
            font-size: 23px;
        }
    }
    .nav-container ul li a:hover {
        color: crimson;
    }
}

@media (max-width: 3000px) {
    nav {
        .nav-container {
            .logo-stripes-container {
                .logo-container {
                    h1 {
                        font-size: 3.5em;
                        letter-spacing: 8px;
                    }
                }
                ul {
                    li {
                        display: inline-block;
                        &>.active {
                            border-bottom: 2px solid wheat;
                            transition: all 0.3s ease;
                            border-color: crimson;
                        }
                        &>.active:hover {}
                    }
                }
            }
        }
    }
    @media (max-width: 991px) {
        nav {
            .nav-container {
                ul {
                    li {
                        display: block;
                        a {
                            display: inline-block;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 947px) {
    nav {
        .nav-container {
            ul {
                position: fixed;
                height: 100vh;
                width: 100%;
                left: -111%;
                top: 0;
                margin-top: 0px;
                background: white;
                text-align: center;
                padding-top: 80px;
                transition: all 0.3s ease;
                li {
                    display: block;
                    a {
                        display: inline-block;
                        margin: 20px 0;
                        font-size: 25px;
                        letter-spacing: 4px;
                    }
                }
            }
            ul.active {
                left: 0;
                z-index: 1;
            }
            .menu-btn {
                margin-top: 15px;
                display: block;
                z-index: 999;
            }
        }
    }
}

@media (max-width: 375px) {
    nav {
        .nav-container {
            margin-bottom: 11px;
        }
    }
}