.footer-container{
    font-family:'Rubik Regular', Courier, monospace;
    display: flex;
    justify-content: center;
    color: crimson;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 600;
}