<nav dir="rtl">
    <div class="nav-container max-width">
        <div class="logo-stripes-container">
            <div class="stripe-container">
                <hr>
            </div>
            <div class="spacer-container"></div>
            <div class="logo-container">
                <h1 class="logo">FFF</h1>
                <span class="logo-span">Fun For Free</span>
            </div>
            <div class="spacer-container"></div>
            <div class="stripe-container">
                <hr>
            </div>
        </div>
        <ul [ngClass]="mobileMenuOn?'active':''">
            <fa-icon [icon]="faTimes" *ngIf="mobileMenuOn" (click)="onCloseMenu()"></fa-icon>
            <li>
                <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" (click)="onCloseMenu()">לכל האירועים</a>
            </li>
            <li>
                <a routerLink="/about" routerLinkActive="active" (click)="onCloseMenu()">הסיפור שלנו</a>
            </li>
            <!-- <li>
                <a routerLink="/" routerLinkActive="active" (click)="onCloseMenu()">שתפו אותנו מה דעתם</a>
            </li>
            <li>
                <a routerLink="/about" routerLinkActive="active" (click)="onCloseMenu()">רוצים להכנס לרשימת האירועים?</a>
            </li> -->
            <li>
                <a routerLink="/donate" routerLinkActive="active" (click)="onCloseMenu()">רק אם בא לכם</a>
            </li>
        </ul>
        
        <div class="menu-btn">
            <fa-icon *ngIf="!mobileMenuOn;" [icon]="faBars" (click)="onOpenMenu()"></fa-icon>
        </div>
    </div>
</nav>