<div class="donate-container" dir="rtl">
    <p>המעשה הטוב שלנו היה להרים את האתר הזה בשבילכם כדי לאפשר לכם לעשות כיף עם הילדים בקיץ בלי לקרוע את הכיס. בא לכם גם לעשות מעשה טוב? הלכתם לאיזה פעילות כייפית עם הילדים או הופעה שווה, שגיליתם עליהם דרך האתר וחסכתם ככה כסף? תעבירו 1 שקל בלבד לתיבת
        הפייבוקס שלנו. את כל הסכום שיצטבר אנחנו נתרום לטובת ילדים שזקוקים לכך. איך תדעו שאנחנו לא מחרטטים? פשוט תצטרכו לסמוך עלינו שיש לנו לב טוב. במקרה הגרוע הפסדתם שקל אחד, במקרה הטוב עשיתם
        מצווה.</p>
    <a href="https://payboxapp.page.link/X52BsUTudE72ymeV7" class="donate"><p>תרום ₪1 מכל הלב לילדים</p><fa-icon [icon]="faHeart"></fa-icon></a>
</div>