<div *ngIf="isMobileMode; else elseBlock" class="header-opening-container" dir="rtl">
    <p>גם אתם גמורים כבר מיוקר המחיה? אז הרמנו לכם אתר שמרכז מלא אירועי עיריות לילדים ללא תשלום, והופעות למבוגרים בכניסה חופשית. בקיצור, כל מה שתראו פה - בחינם!</p>
</div>
<ng-template #elseBlock dir="rtl">
    <div class="header-opening-container">
        <p>גם אתם גמורים כבר מיוקר המחיה? אז הרמנו לכם אתר שמרכז מלא אירועי עיריות לילדים ללא תשלום והופעות למבוגרים בכניסה חופשית. בקיצור: רק מה שבחינם! או כמו שאנחנו קוראים לזה: fun for free</p>
    </div>
</ng-template>