<div *ngIf="isMobileMode; else elseBlock" class="header-opening-container" dir="rtl">
    <!-- mobile -->
    <p>גם אתם גמורים כבר מיוקר המחיה? אז הרמנו לכם אתר שמרכז מלא אירועי עיריות לילדים ללא תשלום, והופעות פתוחות לקהל הרחב. בקיצור, אצלנו באתר רק מה שבחינם!</p>
</div>
<ng-template #elseBlock dir="rtl">
    <div class="header-opening-container">
        <p>גם אתם גמורים כבר מיוקר המחיה? אז הרמנו לכם אתר שמרכז מלא אירועי עיריות לילדים ללא תשלום והופעות פתוחות לקהל הרחב. בקיצור: אצלנו באתר רק מה שבחינם! אז תבואו, הכניסה חופשית.</p>
    </div>
</ng-template>
