.header-opening-container {
    font-family: "Rubik Regular", Courier, monospace;
    max-width: 696px;
    margin: 25px auto 50px ;
    
    p{
        text-align: center;
    }

}

@media (max-width: 375px) {
    .header-opening-container {
        margin-bottom: 25px;
        max-width: 280px;
        p {
            text-align: center;
        }
    }
}