<div class="post-preview" dir="rtl">
    <div class="date-links-container">
        <div class="post-date-container">
            <div class="day-container">
                <p>{{post.day}}</p>
            </div>
            <div class="date-container">
                <p>{{post.date}}</p>
            </div>
        </div>
        <div class="hour-container">
            <p>{{post.startHour}}</p>
            <p *ngIf="post.endHour!==''">-</p>
            <p>{{post.endHour}}</p>
        </div>
        <div class="external-link-container">
            <a href="{{post.url}}" target="_blank">לפרטים נוספים</a>
        </div>
    </div>
    <div class="post-details-container">
        <p>{{post.details}}</p>
    </div>
</div>