p {
    line-height: 30px;
    margin-block-end: 5px;
    margin-block-start: 5px;
}

.summerEvent-preview {
    font-family: 'Rubik Regular', Courier, monospace;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 45px;
    border: 1px rgb(214, 214, 214) solid;
    padding-right: 15px;
    .date-links-container {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        .summerEvent-date-container {
            min-width: 150px;
            .day-container {
                display: inline-block;
                margin-inline-end: 20px;
                min-width: 50px;
            }
            .date-container {
                display: inline-block;
                min-width: 70px;
            }
        }
        .hour-container {
            min-width: 145px;
            display: flex;
            justify-content: center;
            p {
                display: inline-block;
            }
        }
        .external-link-container {
            min-width: 85px;
            a {
                display: inline-block;
                font-family: 'Rubik Glitch', Courier, monospace;
                background-color: gray;
                border-radius: 50px;
                text-decoration: none;
                width: 70px;
                text-align: center;
                line-height: 22px;
                color: ghostwhite;
                margin-block-end: 5px;
                margin-block-start: 5px;
            }
        }
    }
    .details-container {
        p {
            text-align: center;
        }
    }
}

@media (max-width: 768px) {
    .summerEvent-preview {
        display: flex;
        margin: 0;
        padding: 0;
        flex-direction: column;
        align-items: center;
        gap: 0;
        .date-links-container {
            display: flex;
            align-items: baseline;
            .summerEvent-date-container {
                min-width: 0;
                .day-container {
                    margin-inline-end: 0;
                    min-width: 43px;
                }
                .date-container {
                    min-width: 50px;
                }
            }
            .hour-container {
                min-width: 110px;
            }
            .external-link-container {
                min-width: 50px;
            }
        }
        .details-container {
            max-width: 260px;
        }
    }
}