/* You can add global styles to this file, and also import other style files */
body{
    box-sizing: border-box;
}

body, p, h1,h2,h3,h4,h5,h6,h7,h8{
    margin: 0;
    padding: 0;
    
}
.max-width {
    max-width: 1300px;
    // padding: 0 80px;
     margin: 0 auto;
}

@font-face {
    font-family: 'Rubik Glitch';
    src: url('./assets/fonts/RubikGlitch-Regular.ttf');
}
